[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "GJRM"]
	path = GJRM
	url = https://github.com/cran/GJRM
[submodule "bgeva"]
	path = bgeva
	url = https://github.com/cran/bgeva
